[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
whitenoise = "==3.3.1"
django-extensions = "==2.0.6"
django-model-utils = "==3.1.1"
django-shortuuidfield = "==0.1.3"
djangorestframework = "==3.7.7"
"psycopg2-binary" = "==2.7.4"
shortuuid = "==0.5.0"
Django = "==2.0.3"
factory_boy = "==2.10.0"
dj-database-url = "*"
gunicorn = "*"
django-heroku = "*"
djangorestframework-jwt = "*"
django-cors-headers = "*"
pyyaml = "*"

[dev-packages]

[requires]
python_version = "3.6"
